<html>

<body>
<b>Update Note</b>
    <form action="{% url 'note_update' note.id %}" method="post" name="ajax_update">{% csrf_token %}
        Title<input name="title" type="text" value="{{note.title}}" ><br>
        Description<input name="description" type="text" value="{{note.description}}" ><br>
        Is Pinned <br>
        Yes <input name="is_pinned" type="radio" value="{{note.is_pinned}}" >
        No <input name="is_pinned" type="radio" value="{{note.is_pinned}}" ><br>
        Select Color: <Br>
            <select name="color">
                <option value="{{note.color}}" style="background-color:{{note.color}};">{{note.color}}</option>
                            <!--<option value="RED" {% if note.color == '' %} selected='white' {% else %} {% endif %}>RED</option>-->
                            <option value="#FFD"  style="background-color:#FFD;"></option>

                            <option value="lightsalmon" style="background-color:lightsalmon;"></option>
                            <option value="salmon" style="background-color:salmon;"></option>
                            <option value="darksalmon" style="background-color:darksalmon;"></option>
                            <option value="lawngreen" style="background-color:lawngreen;"></option>
                            <option value="lightgreen" style="background-color:lightgreen;"></option>
                            <option value="lightcyan" style="background-color:lightcyan;">	</option>
                            <option value="lightskyblue	" style="background-color:lightskyblue;"></option>
                            <option value="rgb(215, 174, 251)" style="background-color:rgb(215, 174, 251);"></option>
                            <option value="rgb(174, 203, 250)" style="background-color:rgb(174, 203, 250);"></option>
                            <option value="rgb(253, 207, 232)" style="background-color:rgb(253, 207, 232);"></option>
                            <option value="rgb(230, 201, 168)" style="background-color:rgb(230, 201, 168);"></option>
                            <option value="rgb(230, 201, 168)" style="background-color:rgb(230, 201, 168);"></option>
                            <option value="rgb(230, 201, 168)" style="background-color:rgb(230, 201, 168);"></option>
            </select><br>
    <input type="submit" value="submit" id ="submit_id" />

    </form>



<!--<script>-->





<!--$(document).ready(function(){-->
  <!--$("#submit_id").click(function(){-->



     <!--var data = $('form').serialize();-->
     <!--console.log(data)-->

     <!--$.post($(this).attr('action'),data,-->
    <!--function(data,status){-->
      <!--console.log("Data: " + data + "\nStatus: " + status);-->
            <!--&lt;!&ndash;console.log(data)&ndash;&gt;-->
    <!--});-->
  <!--});-->




<!--});-->



<!--</script>-->


<!--<script>-->
<!--$(document).ready(function(){-->
    <!--$('body').on('click', '#submit_id', function() {-->
        <!--console.log("helllo");-->
        <!--var $form = $('#ajax_update');-->
        <!--console.log("form = ",$form);-->
        <!--var formdata = $form.serialize();-->
        <!--console.log("formdata = ",formdata)-->
        <!--$.post($form.attr('action'), formdata, function(result) {-->
            <!--console.log("result = ",result);-->
            <!--if(result.status){-->
                <!--console.log("result.status = ",result.status);-->
                <!--alert("Updated")-->
                <!--location.reload()-->
                <!--// $('#success_message').-->
                <!--$('.alert-error').slideUp({ opacity: "hide" }, "slow")-->
            <!--}else{-->
                <!--console.log("in else");-->
                <!--// $('#success_message').slideUp({ opacity: "hide" }, "slow")-->
                <!--$('.alert-error').slideDown({ opacity: "show" }, "slow");-->
                <!--$('.message-error').html(result.message);-->
            <!--}-->
        <!--}, 'json');-->
    <!--});-->
<!--});-->

<!--</script>-->



</body>
</html>
